
 <%- include('./estilo/estilo')-%>

<% if(productosCargados){ %>
    <section>
        <h1 class="titulo">Productos</h1>

        <div class='contenedorProductos'>
            <% productos.forEach(function(producto){ %>
                <div class='contenedorProducto'>
                    <h5>
                        <%=producto.nombre%>
                    </h5>
                    <img src=<%=producto.imagen%> alt= <%=producto.nombre%> class="ImagenDelProducto"/>
                        <div>
                            <p>
                                <%=producto.precio%>
                            </p>
                        </div>
                </div>
                <% }) %>
        </div>
    </section>
    <%}else{%>
        <h1>No hay productos</h1>
        <%}%>
            <br>
            <div class="enlace">
                <a href="/" type="button">Cargar un nuevo producto</a>
            </div>
  